@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

/* GLOBAL STYLING */

h1,h2,h3,h4,h5 {
    font-family: 'Bebas Neue', cursive;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* NAV BAR */

nav .brand-logo {
    margin: 12.5px;
    line-height: 140%;
}

#nav-mobile {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.nav-wrapper a {
    font-size: 1em;
}

/* FLASHES */

.flashes > h3 {
    line-height: 120%;
}

/* POSTS AND POSTING */

/* POSTING */


#activity .input-field {
    border: none;
}

#activity .input-field .btn {
    background-color: transparent;
    font-size: 1.5em;
}

#activity #image_preview {
    display: none;
}


#activity #label-post {
    padding-top: 1em;
}

#activity .post {
    padding-top: 2em;
}

/* POSTED */

#activity .posted {
    overflow-wrap: anywhere;
    border: none;
    border-radius: 5px;
    padding-top: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}

#activity h5 {
    margin: 9.5px;
}

#activity .post-info {
    float:right;
}

#activity .posted hr {
    width: 100%;
    border: none;
    height: 1px;
}

#activity .post-content {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* POST INTERACTIVITY */

.post-interactivity {
    margin: 9.5px;
}

#activity .posted a {
    text-decoration: none;
}

#activity .posted i {
    padding-bottom: 0.5em;
}

/* MODAL POP UP FOR DELETING A POST */

.modal {
    text-align: center;
}

.modal .modal-footer {
    border-top: 2px solid;
}

.modal .modal-footer .delete {
    margin-right: 25%;
}

.modal .modal-footer .cancel {
    margin-left: 25%;
}

/* POP OUTS AND POP OUT ICONS */

#pop-outs {
    display: none;
}

.profile-pop-out-icon {
    display: none;
}

/* VERY SMALL MOBILE DEVICES */

@media only screen and (max-width: 350px) {
    /* NAV BAR */

    #nav-mobile {
        height: 56px;
    }

    .nav-wrapper li{
        height: 56px;
    }

    .nav-wrapper i {
        font-size: 1.35em;
        height: 19px;
    }
}

/* SMALL MOBILE DEVICES AND UP*/

@media only screen and (min-width: 350px) {
    /* NAV BAR */
    .nav-wrapper i {
        font-size: 1.55em;
    }
}

@media only screen and (max-width: 600px) {
    /* SIDE VIEWS */
    .profile-pop-out-icon {
    font-size: 34px;
    margin-top: 10px;
    }
    #friends-list {
        display: none;
    }
}
