@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

/* GLOBAL STYLING */

h1,h2,h3,h4,h5 {
    font-family: 'Bebas Neue', cursive;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* NAV BAR */

nav .brand-logo {
    margin: 12.5px;
    line-height: 140%;
}

#nav-mobile {
    display: flex;
    justify-content: space-between;
    height: 56px;
    margin-right: 15px;
}

@media screen and (min-width: 600px) {
    #nav-mobile {
        height: 64px;
    }
}

.nav-wrapper a {
    font-size: 1em;
}

/* SIDE VIEW */

.side-view {
    height: 600px;
    position: fixed;
}

/* FLASHES */

.flashes > h3 {
    line-height: 120%;
}

/* POSTS AND POSTING */

body #activity {
    height: 100%;
}

/* POSTING */


#activity .input-field {
    border: none;
}

#activity .input-field .btn {
    background-color: transparent;
    font-size: 1.5em;
}


#activity #label-post {
    padding-top: 1em;
}

#activity .post {
    padding-top: 2em;
}

/* POSTED */

#activity .posted {
    overflow-wrap: anywhere;
    border: none;
    border-radius: 5px;
    padding-top: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}

#activity h5 {
    margin: 9.5px;
}

#activity .post-info {
    float:right;
}

#activity .post-title br {
    display: none;
}

@media screen and (max-width: 600px) {
    #activity .post-title br {
    display: block;
    }

    #activity .post-info {
        float: none;
    }
}

#activity .posted hr {
    width: 100%;
    border: none;
    height: 1px;
}

#activity .post-content {
    padding-top: 1em;
}

#activity .post-content hr {
    overflow: auto;
}

#activity .post-image {
    padding-bottom: 1em;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

/* POST INTERACTIVITY */

.post-interactivity {
    margin: 9.5px;
}

#activity .posted a {
    text-decoration: none;
}

#activity .posted i {
    padding-bottom: 0.5em;
}

/* MODAL POP UP FOR DELETING A POST */

.modal {
    text-align: center;
}

.modal .modal-footer {
    border-top: 2px solid;
}

.modal .modal-footer .delete {
    margin-right: 25%;
}

.modal .modal-footer .cancel {
    margin-left: 25%;
}

@media screen and (max-width:600px) {
    .modal .modal-footer .delete {
    margin-right: 10%;
}

.modal .modal-footer .cancel {
    margin-left: 10%;
}

}

/* POP OUTS AND POP OUT ICONS */

#pop-outs {
    display: none;
}

.profile-pop-out-icon {
    display: none;
}

/* EDITTING POSTS */

.edit-post-image {
    height: 130px;
}

.modal-content .edit-hidden {
    display: none;
}

/* COMMENT SECTION */

#posted-post {
    margin-top: 57px;
    border-top: 2px solid blue;
}

#posted-post .posted-by-and-when,
#posted-post .post-text {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#posted-post .post-text {
    margin-left: 15%;
    margin-top: 2em;
    display: inline-block;
}

#comment-post {
    width: 60%;
    margin-left: 10%;
    margin-right: 15%;
}

.comment-hr {
    background-color: blue;
    box-shadow: none;
    text-shadow: none;
    height: 2px;
    border: none;
}

#label-comment {
    left: 2.5rem;
}

#comment-btn {
    float: right;
    top: 50%;
    position: absolute;
    bottom: 50%;
    transform: translateY(-50%);
    right: 5%;
}

/* SETTINGS */

#settings-menu {
    margin-top: 57px;
}

/* VERY SMALL MOBILE DEVICES */

@media only screen and (max-width: 350px) {
    /* NAV BAR */

    #nav-mobile {
        height: 56px;
    }

    .nav-wrapper li{
        height: 56px;
    }

    .nav-wrapper i {
        font-size: 1.35em;
        height: 19px;
    }
}

/* SMALL MOBILE DEVICES AND UP*/

@media only screen and (min-width: 319px) {

    .side-view {
    margin-top: 56px;
    width: 55.33px;
    }

    .flashes {
        margin-top: 56px;
    }

    body nav {
        position: fixed;
        top: 0;
    }

    body nav .nav-wrapper {
        position: fixed;
        height: 57px;
        width: 100%;
        top: 0;
    }

    body #activity {
        margin-top: 56px;
        margin-left: 55.33px;
        border-right: none;
        padding: 10px;
        padding-left: 30px;
    }

}

@media only screen and (min-width: 350px) {
    /* NAV BAR */
    .nav-wrapper i {
        font-size: 1.55em;
    }

    /* SIDE BAR */

    .side-view {
        margin-top: 56px;
        width: 63.5px;
    }

    /* ACTIVITY */
    body #activity {
        margin-left: 63.5px;
    }
}

@media only screen and (min-width: 425px) {
        
    body nav .nav-wrapper {
        height: 66px;
    }

    body #activity {
        margin-left: 71.828px;
    }
    .side-view{
        width: 71.828px;
        margin-top: 66px;
    }

    .flashes {
        margin-top: 66px;
    }
}

@media only screen and (min-width: 768px) {


    body #activity {
        margin-left: 258.328px;
        margin-top: 64px;
        padding: 50px;
    }

    #activity {
        height: 500px;
    }    
        /* SIDE BAR */

    .side-view {
        margin-top: 64px;
        width: 258.328px;
    }

}

@media only screen and (min-width: 1440px) {
    
    body #activity {
        margin-left: 362px;
        margin-top: 64px;
    }
    .side-view {
        width: 362px;
    }
}

@media only screen and (max-width: 767px) {
    /* SIDE VIEWS */
    .profile-pop-out-icon {
    font-size: 34px;
    margin-top: 10px;
    display: block;
    text-align: center;
    }

    #friends-list {
        display: none;
    }
}
