body {
    background-color: black;
    color: #ffffff;
}

/* NAV MENU */

.nav-wrapper {
    background-color: black;
}

.nav-wrapper h1,
.nav-wrapper a{
    color: #0277bd;
}

/* FLASH MESSAGES */

.flashes h3 {
    color: #0277bd;
}

/* SIDE MENUS */

.side-view {
    background-color: #212121;
    border-top: solid 2px #01579b;
}

nav {
    position: fixed;
}

/* POSTING AND POSTED */

/* POSTING */

#activity {
    border: solid 2px #01579b;
    border-top: none;
}


#activity #label-post,
#activity #activity-post {
    color: #0277bd;
    border-color: #01579b;
}

#activity .input-field .btn {
    color: #01579b;
}

/* POSTED */

#activity .posted {
    background-color: #212121;
}

#activity h5 {
    color: #0277bd
}

#activity .posted hr {
    background-color: #01579b;
}

/* POST INTERACT */

#activity .posted a {
    color: #0277bd;
}

/* MODAL POP UP FOR DELETING A POST */

.modal {
    background-color: #212121;
    color: #0277bd;
}

/* MODAL FOOTER */

.modal .modal-footer {
    background-color: #212121;
    border-color:#0277bd;
}

/* MODAL FOOTER BUTTONS */

.modal .modal-footer .cancel {
    background-color: #3e3e3e;;
}