body {
    background-color: white;
    color: black;
}

/* NAV MENU */

nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav .nav-wrapper {
    background-color: white;
}

.nav-wrapper h1,
.nav-wrapper a{
    color: #0277bd;
}

/* FLASH MESSAGES */

.flashes h3 {
    color: #0277bd;
}

/* SIDE MENUS */

.side-view {
    background-color: #dfdfdf;
    border-top: solid 2px #0277bd;
    height: 100px;
}

/* POSTING AND POSTED */

/* POSTING */

#activity {
    border: solid 2px #0277bd;
    border-top: none;
}


#activity #label-post,
#activity #activity-post {
    color: #0277bd;
    border-color: #0277bd;
}

#activity .input-field .btn {
    color: #0277bd;
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* POSTED */

#activity .posted {
    background-color: #dfdfdf;
}

#activity h5 {
    color: #0277bd
}

#activity .posted hr {
    background-color: #0277bd;
}

/* POST INTERACT */

#activity .posted a {
    color: #0277bd;
}

/* MODAL POP UP FOR DELETING A POST */

.modal {
    background-color: #dfdfdf;
    color: #0277bd;
}

/* MODAL FOOTER */

.modal .modal-footer {
    background-color: #dfdfdf;
    border-color:#0277bd;
}

/* MODAL FOOTER BUTTONS */

.modal .modal-footer .cancel {
    background-color: #3e3e3e;;
}