@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

h1,h2,h3 {
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}


body #callout #callout-contain,
body #callout #callout-contain .s12{
    padding: 0;
}

#callout {
    background-image: url('../images/callout.jpg');
    background-size: 1500px;
    background-repeat: repeat-x;
    height: 600px;
}

nav .brand-logo {
    margin: 12.5px;
    line-height: 140%;
}


#landing-card {
    margin-top: 5em;
    border: solid 2px #1565c0;
}

#callout #landing-card input {
    color: #1e88e5;
}

#nav-mobile li a{
    color: #1e88e5;
    height: 64px;
}

@media only screen and (max-width: 350px) {
    .nav-wrapper i {
        font-size: 1.35em;
    }
}

#nav-mobile {
  display: flex;
  justify-content: space-between;
}

#acitivity .contain {
    border: 2px solid #1e88e5;
    border-top: none;
    height: 1000px;
}

#friends-list .contain,
#profile-home .contain {
    border-top:  2px solid #1e88e5;
    color: #1e88e5;
    height: 1000px;
}

@media only screen and (min-width: 600px) {
    #nav-mobile {
        float: right;
    }
}

.input-field {
    background-color: #212121;
    border: solid 2px #1e88e5;
    border-radius: 5px;
}

#new-post .input-field .btn {
    color:white;
    background-color: transparent;
    box-shadow: none;
}