@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

h1,h2,h3 {
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}


body #callout #callout-contain,
body #callout #callout-contain .s12{
    padding: 0;
}

#callout {
    background-image: url('../images/callout.jpg');
    background-size: contain;
    background-repeat: repeat-x;
    height: 400px;
}

nav .brand-logo {
    margin: 12.5px;
    line-height: 140%;
}