{% extends 'base.html' %}
{% block styles %}
{% endblock %}
{% block content %}
<section class="row">
<!-- PROFILE SECTION -->
    <div id="profile-home" class="side-view grey darken-4">
        <div class="col s2 m4 l3 contain">
            <div id="home-mobile-side-nav">
                <div id="profile-pop-out">
                    <i id="profile-pop-out-icon" class="fas fa-user-circle"></i>
                </div>
            </div>
        </div>
    </div>
<!-- ACTIVITY / NEWS FEED -->
    <div id="activity" class="row">
        <div class="col s10 m8 l6 contain">
                <form id="new-post" method="POST" action="{{ url_for('home') }}" >
                    <div class="col s1"></div>
                    <div class="input-field post col s10 push-1">
                    <!-- Text descripton for the post-->
                        <textarea id="activity-post" name="activity-post" class="materialize-textarea"></textarea>
                        <label id="label-post" for="activity-post">Type your new post here:</label>
                    <!-- image upload ( need to add image preview still ) -->
                        <input type="file" name="image-post" id="image-post" hidden="hidden">
                        <i id="image-post-icon" class="btn fas fa-camera"></i>
                    <!-- mentioning friends on the post which also notifies the friend ( still need to figure out how to do it )-->
                        <input type="checkbox" name="post-mentions" id="post-mentions" hidden>
                        <i id="post-mentions-icon" class="btn fas fa-users"></i>
                    <!-- post submit button -->
                        <button name="post-submit" type="submit" class="btn" style="float:right;"><i class="fas fa-location-arrow"></i></button>
                    </div>
                    <div class="col s1"></div>
                </form>
                {% for post in posts %}
                <div class="col s12">
                <div class="col s1"></div>
                <div class="posted col s10 push-1 post">
                    <div class="posted-by">
                        {{ post.created_by }}
                    </div>
                    <hr>
                    <div class="post-content">
                        {{ post.description }}
                    </div>
                    <hr>
                    <div class="post-interactivity">
                        <i class="fas fa-heart"></i>
                        {% if post.created_by == session.user %}
                        <i class="fas fa-pencil-alt"></i>
                        <i class="fas fa-trash-alt"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="col s1"></div>
                </div>
                {% endfor %}
        </div>
    </div>
<!-- FRIENDS -->
    <div id="friends-list" class="side-view">
        <div class="col s0 m0 l3 contain grey darken-4">
        TEST
        </div>
    </div>
</section>
<!-- PROFILE POP OUT FOR MOBILE -->
<section class="row">
    <div id="profile-pop-out-section" class="col s10 push-2">
        Test
    </div>
</section>

{% endblock %}