{% extends 'base.html' %}
{% block styles %}
<!-- DIFFERENT CSS FILES FOR DIFFERENT THEMED PAGES  -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark_theme.css') }}">
{% endblock %}
{% block content %}
<section class="row">
    <!-- PROFILE SECTION -->
    <div id="profile-home" class="side-view">
        <div class="contain">
            <div id="home-mobile-side-nav">
                <div id="profile-pop-out">
                    <i class="profile-pop-out-icon fas fa-user-circle tooltipped" data-position="bottom" data-tooltip="Profile"></i>
                    <i class="profile-pop-out-icon fas fa-envelope tooltipped" data-position="bottom" data-tooltip="Messages"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- ACTIVITY / NEWS FEED -->
    <div id="activity" class="col s10 m8 l6">
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h3 class="center-align">{{ message }}</h3>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
        <div class="contain">
            <form id="new-post" method="POST" action="{{ url_for('home') }}" enctype="multipart/form-data">
                <!-- IMAGE PREVIEW ON UPLOAD -->
                <div id="image_preview">
                    <img id="output" class="col s12"/>
                </div>
                <!-- POST INPUT FIELDS -->
                <div class="input-field post col s12">
                    <!-- Text descripton for the post-->
                    <textarea id="activity-post" name="activity-post" class="materialize-textarea"></textarea>
                    <label id="label-post" for="activity-post">Type your new post here:</label>
                    <!-- image upload ( need to add image preview still ) -->
                    <input type="file" name="image-post" id="image-post" accept="image/*,video/*" onchange="preview_image(event)" hidden="hidden">
                    <i id="image-post-icon" class="btn fas fa-camera"></i>
                    <!-- post submit button -->
                    <button name="post-submit" type="submit" class="btn" style="float:right;"><i class="fas fa-location-arrow"></i></button>
                </div>
            </form>
            {% for post in posts %}
            <div class="posted col s12 post">
                <!-- POST INFORMATION -->
                <div class="posted-by-and-when">
                    <h5 class="post-title">
                        <!-- DISPLAYS WHO THE POST WAS POSTED BY -->
                        {{ post.created_by }} <br>
                        <!-- DISPLAYS THE TIME AND DATE THE POST WAS MADE-->
                        <span class="post-info"> {{ post.time_posted }} - {{ post.date_posted }} </span>
                    </h5>
                </div>
                <hr>
                <!-- SHOWS THE POST CONTENT -->
                <div class="post-content">
                {% if post.photo_id == False %}
                    <test></test>
                {% else %}
                    <img class="post-image col s12" src="https://res.cloudinary.com/df-6999/image/upload/v1602729287/{{post.photo_id}}"/>
                {% endif %}
                    {{ post.description }}
                </div>
                <hr>
                <!-- ALLOWS THE USER TO DELETE, EDIT AND LIKE THE POST -->
                <div class="post-interactivity">
                    <!-- DISPLAYS THE LIKE BUTTON FOR ALL USERS -->
                    <a href="{{ url_for('like_post', post_id=post._id) }}" class="likeButton tooltipped" data-position="bottom" data-tooltip="Like" name="like"><i class="fas fa-heart"></i></a> - {{ post.likes }}
                    {% if post.created_by == session.user %}
                        <!-- DISPLAYS THE EDIT POST AND DELETE POST JUST FOR THE USERS WHO MADE THE POST -->
                        <a class="modal-trigger tooltipped" href="#edit{{post._id}}" data-position="bottom" data-tooltip="Edit" name="edit"><i class="fas fa-pencil-alt right"></i></a>
                        <a class="modal-trigger tooltipped" href="#delete{{post._id}}" data-position="bottom" data-tooltip="Delete"><i class="fas fa-trash-alt right"></i></a>
                    {% endif %}
                </div>
            </div>
            <!-- EDIT MODAL POP UP -->
            <div id="edit{{post._id}}" class="modal">
                <form method="POST" action="{{ url_for('edit_post', post_id=post._id) }}">
                <div class="modal-content">
                    <!-- MODAL POP UP CONTENT -->
                    <h5>Editting A Post</h5>
                    <div class="row">
                        <div class="col s12">
                            <h5>{{ post.created_by }}
                                <span>
                                    {{ post.time_posted }} - {{ post.date_posted }}
                                </span>
                            </h5>
                            <textarea id="edit-post" name="edit-post" class="materialize-textarea">{{post.description}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- MODAL BUTTONS TO CONFIRM THE EDIT OR CANCEL -->
                    <a href="#" name="cancel" class="modal-close btn left cancel">Cancel</a>
                    <button type="submit" name="edit" class="modal-close btn right edit">Save</button>
                </div>
                </form>
            </div>
            <!-- DELETE MODAL POP UP -->
            <div id="delete{{post._id}}" class="modal">
                <div class="modal-content">
                    <!-- MODAL POP UP CONTENT -->
                    <h5>Are you sure you want to delete this post?</h5>
                </div>
                <div class="modal-footer">
                    <!-- MODAL BUTTONS TO CONFIRM THE DELETE OR CANCEL -->
                    <a href="#" name="cancel" class="modal-close btn left cancel">Cancel</a>
                    <a href="{{ url_for('delete_post', post_id=post._id) }}" name="delete" class="modal-close btn right delete red accent-4">Delete</a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>
<!-- POP OUTS FOR MOBILE -->
<section id="pop-outs" class="row">
    <!-- POP OUT FOR THE PROFILE SECTION -->
    <div id="profile-pop-out-section" class="col s10">
        Test
    </div>
    <!-- POP OUT FOR THE FRIENDS SECTION -->
    <div id="friends-pop-out-section" class="col s10">
        Test
    </div>
</section>

{% endblock %}