{% extends 'base.html' %}
{% block styles %}
{% endblock %}
{% block content %}
<style> 
body {
background-color: white;
}

.col {
    border: solid 2px black;
}
</style>
<section class="row">
<div id="profile-home" style="background-color: white;">
        <div class="col s0 m4 l3">
        TEST
        </div>
    </div>
</div>
<div id="acitivity" style="background-color: red;">
        <div class="col s12 m8 l6">
        TEST
        </div>
    </div>
</div>

<div id="friends-list" style="background-color: blue;">
        <div class="col s0 m0 l3">
        TEST
        </div>
    </div>
</div>
</section>

{% endblock %}