<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackhole</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/land-style.css') }}">
</head>

<body>
{% block styles %}
{% endblock %}
    <nav>
        <div class="nav-wrapper black">
            <h1 class="brand-logo blue-text darken-4 left">Blackhole</h1>
            <ul id="nav-mobile" class="right">
                <li><a href="{{ url_for('login') }}" class="login blue-text darken-1">Login</a></li>
                <li><a href="{{ url_for('signup') }}" class="signup blue-text darken-1">Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes" style="margin: 0;">
                        <h3 class="blue darken-1 center-align" style="line-height: 120%;">{{ message }}</h3>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    {% block content %} {% endblock %}

    <footer>
        <div class="left col s12 m6">
            <p>Blackhole</p>
        </div>
        <div id="FAQ" class="right col c12 m6">
            <a href="{{ url_for('support') }}"> Need Help?</a>
        </div>
    </footer>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>