{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light_theme.css') }}">
{% endblock %}
{% block content %}

<section id="settings-menu" class="row">
    <div class="col s2"></div>
    <!--SETTINGS -->
    <div class="input-field col s8">
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h3 class="center-align">{{ message }}</h3>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
        <h3> Account Settings </h3>
        <hr class="sub-sec-divide">
        <form method="POST" action="{{ url_for ('password_update') }}">
            <div id="account-password">
                <!-- CHANGE THE PASSWORD INPUT -->
                <h5> Change Password </h5>
                <div class="input-field col s12">
                    <input id="old-password" name="old-password" type="password" class="validate"
                     minlength="10" maxlength="30" required>
                     <label for="old-password">Old Password</label>
                    <span id="old-password-error" class="error-message"></span>
                </div>
                <div class="input-field col s12">
                    <input id="new-password" name="new-password" type="password" class="validate"
                     minlength="10" maxlength="30" required>
                    <label for="new-password">New Password</label>
                    <span id="new-password-error" class="error-message"></span>
                </div>
                <div class="input-field col s12">
                    <input id="new-password-confirm" name="new-password-confirm" type="password" class="validate"
                     minlength="10" maxlength="30" required>
                    <label for="new-password-confirm">Confirm Password</label>
                    <span id="new-password-confirm-error" class="error-message"></span>
                </div>
            </div>
        </form>
            <!-- THEME SECTION -->
        <form method="POST" action="{{ url_for ('settings') }}">
            <div id="themes" class="sub-title">
                <h3>Themes</h3>
                <hr class="sub-sec-divide">
                <!-- DARK THEME -->
                <div class="switch">
                    <label for="dark_theme">
                        Dark Theme
                        <input type="checkbox" id="dark_theme" name="dark_theme">
                        <span id="dark_switch" class="lever right"></span>
                    </label>
                </div>
                <hr class="item-divide">
                <!-- LIGHT THEME -->
                <div class="switch">
                    <label for="light_theme">
                        Light Theme
                        <input type="checkbox" id="light_theme" name="light_theme" checked>
                        <span id="light_switch" class="lever right"></span>
                    </label>
                </div>
            </div>
            <!-- SAVE / RESET SETTINGS BUTTON -->
            <div id="settings-buttons">
                <button type="submit" id="reset" class="btn" name="reset">Reset</button>
                <button type="submit" id="save" class="btn" name="save">Save</button>
            </div>
        </form>
    </div>
    <div class="col s2"></div>
</section>
{% endblock %}