{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light_theme.css') }}">
{% endblock %}
{% block content %}
<section class="row">
    <!-- PROFILE SECTION -->
    <div id="profile-home" class="col s2 m4 l3 side-view">
        <div class="contain">
            <div id="home-mobile-side-nav">
                <div id="profile-pop-out">
                    <i class="profile-pop-out-icon fas fa-user-circle"></i>
                    <i class="profile-pop-out-icon fas fa-comments"></i>
                    <i class="profile-pop-out-icon fas fa-sign-out-alt"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- ACTIVITY / NEWS FEED -->
    <div id="activity" class="col s10 m8 l6">
        <div class="contain">
            <form id="new-post" method="POST" action="{{ url_for('home') }}">
                <div class="input-field post col s12">
                    <!-- IMAGE PREVIEW ON UPLOAD -->
                    <div id="image_preview">
                        <input type="file" name="inpFile" id="inpFile">
                        <img id="imgPreview" src="" alt="Image Preview" class="image-preview__image">
                        <div class="image-preview" id="imagePreview">
                        <span class="image-preview__default-text"></span>
                        </div>
                    </div>
                    <!-- Text descripton for the post-->
                    <textarea id="activity-post" name="activity-post" class="materialize-textarea"></textarea>
                    <label id="label-post" for="activity-post">Type your new post here:</label>
                    <!-- image upload ( need to add image preview still ) -->
                    <input type="file" name="image-post" id="image-post" hidden="hidden">
                    <i id="image-post-icon" class="btn fas fa-camera"></i>
                    <!-- mentioning friends on the post which also notifies the friend ( still need to figure out how to do it )-->
                    <input type="checkbox" name="post-mentions" id="post-mentions" hidden>
                    <i id="post-mentions-icon" class="btn fas fa-users"></i>
                    <!-- post submit button -->
                    <button name="post-submit" type="submit" class="btn" style="float:right;"><i class="fas fa-location-arrow"></i></button>
                </div>
            </form>
            {% for post in posts %}
            <div class="posted col s12 post">
                <div class="posted-by-and-when">
                    {{ post.created_by }} - {{ post.date_posted }} - {{ post.time_posted }}
                </div>
                <hr>
                <div class="post-content">
                    {{ post.description }}
                </div>
                <hr>
                <div class="post-interactivity">
                            <a href="{{ url_for('like_post', post_id=post._id) }}" name="like"><i class="fas fa-heart"></i></a> - {{ post.likes }}
                            {% if post.created_by == session.user %}
                                <a href="{{ url_for('edit_post', post_id=post._id) }}" name="edit"><i class="fas fa-pencil-alt right"></i></a>
                                <a class="modal-trigger" href="#{{post._id}}"><i class="fas fa-trash-alt right"></i></a>
                            {% endif %}
                </div>
            </div>
            <!-- MODAL POP UP -->
            <div id="{{post._id}}" class="modal">
                <div class="modal-content">
                    <p>Are you sure you want to delete this post?</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_post', post_id=post._id) }}" name="delete" class="modal-close">Delete</a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    <!-- FRIENDS -->
    <div id="friends-list" class="col s0 m0 l3 side-view">
        <div class=" contain">
            TEST
        </div>
    </div>
</section>
<!-- POP OUTS FOR MOBILE -->
<section id="pop-outs" class="row">
    <div id="profile-pop-out-section" class="col s10">
        Test
    </div>
    <div id="friends-pop-out-section" class="col s10">
        Test
    </div>
</section>

{% endblock %}