{% extends 'land-base.html'%} 

{% block styles %}
<style> .login {
    display:none;
} </style>
{% endblock %}

{% block content %}

<section id="callout" class="row">
      <div class="card black col s8 m8 l4 right pull-s2 pull-m2 pull-l1">
        <div class="card-content blue-text darken-1">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
</section>

{% endblock %}