{% extends 'base.html' %}
{% block styles %}
{% endblock %}
{% block content %}
<section id="settings">
<div class="row">
    <div class="col s3"></div>
        <div class="input-field col s6">
        <div id="themes" class="sub-title">
            <h3>Themes</h3>
            <hr class="sub-sec-divide">
            <div class="switch">
                <label for="dark_theme">
                Dark Theme
                <input type="checkbox" id="dark_theme" name="dark_theme" checked>
                <span class="lever right"></span>
                </label>
            </div>
            <hr class="item-divide">
            <div class="switch">
                <label for="light_theme">
                Light Theme
                <input type="checkbox" id="light_theme" name="light_theme">
                <span class="lever right"></span>
                </label>
            </div>
        </div>
        </div>
    <div class="col s3"></div>
</div>
</section>
{% endblock %}